.featured {
  padding: 2rem;
}

.featured > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  list-style: none;
}
.featured > ul > li {
  border: 1px solid #212529;
  border-radius: 0.5rem;
}

.featured > ul > li > figure {
  max-height: 220px;
  overflow: hidden;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  position: relative;
  margin: 0;
}

.featured > ul > li > figure > img {
  width: 100%;
}

.featured > ul > li > figure > figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
}

.featured > ul > li > figure > figcaption > h3 {
  color: white;
  padding: 0.75rem;
  font-size: 1.25rem;
}

.featured > ul > li > p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem 0.75rem;
  color: #666666;
}

.featured > ul > li > a {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .featured > ul {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}