.carousel-caption {
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.carousel-item {
    max-height: calc(100vw * 0.5);
}

@media only screen and (max-width: 768px) {
    .carousel-caption p {
        display: none;
    }
}