#browse {
    padding: 10rem 0 4rem;
}

.listing-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    color: #ddd;
}

.listing {
    padding: 20px 5px 10px;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-blend-mode: color;
    min-width: calc(300px * 0.65);
    max-width: calc(300px * 0.65);
    height: calc(450px * 0.65);
    box-shadow: 10px 10px 10px #111;
    transition: background-color 0.25s linear;
    text-align: center;
    font-family: "Roboto", sans-serif;
    background-size: cover;
    cursor: pointer;
}

.listing:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.listing:hover .listing-title
/* .listing:hover .listing-description */ {
    opacity: 1;
    transform: scale(1);
}

.listing-title {
    transform: scale(0);
    opacity: 0;
    transition: transform 0.24s ease-in 0, opacity 0.3s linear;
    text-transform: uppercase;
}

/* .listing-description {
    max-height: 200px;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.24s ease-in 0.05s, opacity 0.3s linear;
    text-overflow: ellipsis;
    overflow: hidden;
  } */